[defaults]
inventory = ansible/inventory.yaml
host_key_checking = false
display_skipped_hosts = no
callback_result_format = yaml
bin_ansible_callbacks = true
force_valid_group_names = ignore
interpreter_python = auto_silent
